

.center {
    text-align: center;
    text-color: pink;
    font-weight: bold;
}



body {
    background-image: url('swag2.jpeg');
    background-size: 100%;
    text-align: center;
    text-color: black;
}

h1{
    margin:0;
}

h2{
    margin:0 0 1em;
}
