<head>
  <title>
    Answers!
  </title>
  <link rel="stylesheet" href="/static/swag.css" type ="text/css" media="screen">
</head>

<body>
  <h1>Results and Occurences!</h1>
  <div style = "float: left; width: 50%;">
    <h2>Results</h2>
    <ul>
      {% for value in keys %}
      <li>{{value}}</li>
      {% endfor %}
    </ul>
  </div>
  <div style = "float: right; width: 50%;">
    <h2>Occurences!</h2>
    <ul>
      {% for num in values %}
      <li>{{num}}</li>
      {% endfor %}>
    </ul>
  </div>
</body>
