<head>
  <title>
    Answers!
  </title>
  <link rel="stylesheet" href="/static/swag.css" type ="text/css" media="screen">
</head>

<body>
  <h1>Results and Occurences!</h1>
  <div style = "float: left; width: 50%;">
    <h2>Results</h2>
    <table border="0" width="50%">
      {% for value in keys %}
      <tr><td><center>{{value}}</center></td></tr>
      {% endfor %}
    </table>
  </div>
  <div style = "float: right; width: 50%;">
    <h2>Occurences!</h2>
    <table border="0" width="50%">
      {% for num in values %}
      <tr><td><center>{{num}}</center></td></tr>
      {% endfor %}>
    </table>
  </div>
</body>
